<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="UmbraScript">
    <meta name="description" content="UmbraScript Official Website =>">
        <!--Refresh Value-->
    <meta http-equiv="refresh" content="360">
    <meta name="keywords" content="UmbraScript, UmbraScript Studio, UmbraScript Games, UmbraScript gamedev, UmbraScript software">
    <link rel="stylesheet" href="/static/style.css">
    <title>UmbraScript | Home</title>
</head>
<body>
</body>
</html>
